<div class="row">
	<div class="col-md-9">
		<table class="table table-striped">
			<% @posts.each do |post| %>
				<tr>
					<td> 
						<span class="personal_post_title"><%= link_to post.title, post %></span>
						<div class="personal_edit_tools">
							<%= link_to 'Редагувати', edit_post_path(post) %> | 
							<%= link_to 'Видалити', post, method: :delete, data: { confirm: "Ви впевнені?" }	%>
						</div>	
						
						<% if post.thumbnail.exists? %>
							<%= image_tag post.thumbnail.url(:small), class: 'img-thumbnail post_thumbnail' %>		
						<% end %>	
						<p><%= truncate(strip_tags(post.content), length: 500)	%></p>
					</td>
				</tr>
			<% end %>	
		</table>	
		<%= paginate @posts %>
	</div>			
	<%= render 'layouts/sidebar' %>
</div>		